
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@{
    ViewBag.Title = "Guess";
}

<h2 style="color:red">Guessing Game </h2>


<div>

    <br />


    <form method="post">
        <input type="submit" value="submit" />

        <input type="text" placeholder="Enter Your Namber" name="guess" />    <br />
    </form>

    <div>
        <br />
        <p>Here is the Result : @ViewBag.msg</p>
    </div>
</div>*@

